.immersive {
  @apply absolute left-0 right-0 top-0 bottom-0 m-auto flex items-center justify-center text-white;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.immersive.show {
  opacity: 1;
  pointer-events: unset;
}
.immersive_box {
  width: 55vw;
  height: 60vh;
  /* overflow: hidden; */
  justify-content: space-between;
  text-align: center;
}
.immersive_box_left {
  font-size: 16px;
}
.immersive_box_left p {
  padding: 6px 0;
}
.immersive_box_left .pic {
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
  margin-bottom: 10px;
}
.immersive_box .lyric {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma;
  flex: 1;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
.immersive_box .lyric ul {
  transition: all 0.3s ease;
}
.immersive_box .lyric::-webkit-scrollbar {
  width: 2px;
  color: #333;
}
.immersive_box .lyric_item {
  line-height: 50px;
}
.immersive_box .lyric_item.active {
  @apply text-primary;
  transition: all 0.2s;
}

@media screen and (max-width: 768px) {
  .immersive_box {
    flex-direction: column;
    width: 80%;
  }

  .immersive_box_left p {
    font-size: 14px;
    padding: 4px;
  }
  /* 歌词ul */
  .immersive_box .lyric {
    margin-top: 12px;
    font-size: 18px;
    max-width: 100%;
  }
}
