
.process_inner::after {
  /* content: " ";
  position: absolute;
  right: 0;
  top: -5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000; */
}

.input {
  outline: none;
}
.input::-moz-focus-outer{ 
  outline: none;
  border: 0;
}
.input:focus {
  @apply ring-0
}