.head {
  /* no-repeat center center 100% 100% */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.bg_sidebar {
}
@media (max-width: 640px) {
  .bg_sidebar {
    display: none;
  }
}
