@import url(./pages/Login/Login.module.css);

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.m_scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}
.m_scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: gray;
  width: 3px;
}
.m_scroll::-webkit-scrollbar-track {
  background: transparent;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2)
    format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply ring-0 !important;
  outline: none;
  border: 0;
}

:root {
  --boy: #759fd1;
  --girl: #ef87a4;
  --bg: #eee;
  --primary: rgb(226 90 114);
  --normal-icon: #333;
  --font-light: #999;
  --font-normal: rgba(55, 65, 81);
  --bg-light: #dcd4d4;
  --bg-loading: rgba(207, 206, 206, 0.5);
  --bg-revers: #333;
  --txt-revers: #eee;
}
.dark {
  --bg: #333;
  --primary: #ed533d;
  --normal-icon: #e6e6e6;
  --font-light: #666;
  --font-normal: rgba(209, 213, 219);
  --bg-light: #383838;
  --bg-loading: rgba(75, 75, 75, 0.5);
  --bg-revers: #eee;
  --txt-revers: #333;
}
@keyframes resetBg {
  to {
    color: var(--font-normal);
    background: var(--bg-light);
  }
}
input {
  animation: resetBg 0.1s forwards;
}
input {
  height: 0;
  padding: 1em 0.5em !important;
  caret-color: #fff;
  background-clip: content-box !important;
}

input::first-line {
  color: var(--font-normal);
}

/* body {
  background: url("../public/bg.jpg") no-repeat;
  background-size: cover  ;
}
.dark body {
  background: url("../public/bg_dark.jpg") no-repeat;
  background-size: cover;
} */

/* 摸一摸动画 */
@keyframes head_bounce {
  0% {
    transform: rotateZ(-0);
  }
  30% {
    transform: rotateZ(-6deg);
  }
  80% {
    transform: rotateZ(6deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.head_bounce {
  transform-origin: bottom;
  animation: head_bounce 0.2s ease 0s 3;
}

.dot2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

/** antd 颜色全局覆盖 */
.ant-select-selection-item {
  color: var(--font-normal) !important;
}
.ant-radio,
.ant-radio-wrapper {
  color: var(--font-normal) !important;
}
