.main_win,
.main_inner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: opacity 0.5s;
}
.main_inner {
  max-width: 1000px;
}
.right_content {
  background-color: var(--opa-bg);
}
.main_inner .ant-drawer-content {
  background-color: transparent !important;
}

.head {
  @apply flex items-center border-b border-gray-500;
}

/* .main_inner {
  background: url("../public/bg.jpg") no-repeat;
  background-size: cover;
}
.dark .main_inner {
  background: url("../public/bg_dark.jpg") no-repeat;
  background-size: cover;
} */
