.main_win,
.main_inner {
  background-image: url("/public/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.main_inner {
  max-width: 1000px;
  min-width: 500px;
}
.right_content {
}
.main_inner .ant-drawer-content {
  background-color: transparent !important;
}
/* .main_inner {
  background: url("../public/bg.jpg") no-repeat;
  background-size: cover;
}
.dark .main_inner {
  background: url("../public/bg_dark.jpg") no-repeat;
  background-size: cover;
} */
